.container {
    text-align: center;
}

.form-container {
    margin: 1rem auto;
    max-width: 19rem;
}

.form-container div{
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

input[type="text"],
input[type="email"] {
    height: 25px;
    margin: 3px;
}

input[type="button"],
input[type="submit"],
input[type="email"] {
    height: 25px;
    margin-left: 5px;
}