table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.header {
    display: grid;
    align-items: center;
    margin-bottom: 1rem;
}

.header .addEmployeeBtn ,h3 {
    grid-column-start: 1;
    grid-row-start: 1;
}

.header .addEmployeeBtn {
    justify-self: right;
    z-index: 1;
}

article {
    display: block;
    word-break: break-all;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.list-header {
    text-align: center;
}